<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GestorColaboradorActivity"
            android:exported="false" />

        <activity
            android:name=".GestorGerenteActivity"
            android:exported="false" />

        <activity
            android:name=".AdministradorRHActivity"
            android:exported="false" />

        <activity
            android:name=".RevisionSolicitudesActivity"
            android:exported="false" />

        <activity
            android:name=".SupervisionViajesActivity"
            android:exported="false" />

        <activity
            android:name=".HistorialSolicitudesActivity"
            android:exported="false" />

        <activity
            android:name=".HistorialViajesRHActivity"
            android:exported="false" />

        <activity
            android:name=".AdministradorActivity"
            android:exported="false" />

        <activity
            android:name=".AdministradorFinalActivity"
            android:exported="false" />

        <activity
            android:name=".FacturasSubidasActivity"
            android:exported="false" />

        <activity
            android:name=".GestorPersonalActivity"
            android:exported="false" />

        <activity
            android:name=".SolicitudViaticosActivity"
            android:exported="false" />

        <activity
            android:name=".SolicitudColaboradorActivity"
            android:exported="false" />

        <activity
            android:name=".ViaticosViajeActivity"
            android:exported="false" />

        <activity
            android:name=".SubirFacturasActivity"
            android:exported="false" />

        <activity
            android:name=".ConsultarEstatusActivity"
            android:exported="false" />

        <activity
            android:name=".GestionFacturasActivity"
            android:exported="false" />

        <activity
            android:name=".HistorialViajesActivity"
            android:exported="false" />

        <activity
            android:name=".RechazoSolicitudActivity"
            android:exported="false" />

        <activity
            android:name=".RechazoRevisionActivity"
            android:exported="false" />

    </application>
</manifest>